<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--=============== FAVICON ===============-->

    <!--=============== ICON ===============-->
    <script
      src="https://kit.fontawesome.com/f14371da95.js"
      crossorigin="anonymous"
    ></script>
    <!--===============  ===============-->

    <title>PUBG LOGIN</title>
    <meta name="description" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../styles/sign.css" />
  </head>
  <body>
    <div class="img_1">
      <img src="../../resources/images/pasted-image-0-Recovered.png" alt="">
    </div>
    <section class="container_log">
      <div class="sign_regis">
        <p id="sign_tab">sign in</p>
        <p id="register_tab">register</p>
      </div>
      <div class="sign_detile">
        <form class="inf_player">
          <div class="input_pl">
            <label for="name">name</label>
            <input type="text" class="name" placeholder="Name" />
          </div>

          <div class="input_pl">
            <label for="password">password</label>
            <input type="password" class="password" placeholder="Password" />
          </div>

          <div class="input_pl">
            <label for="id_player">id</label>
            <input type="number" class="id_player" placeholder="ID" />
          </div>
        </form>
        <button class="butt_sign">Sign</button>
      </div>
    </section>
  </body>
</html>
